.kurzbeschreibung {
    background-color: #cc00cc;
    padding: 5px;
}

header {
    background-color: #580058;
}

footer {
    background-color: #580058;
}

.projekt_link {
    color:white;
    align-content: center;
    margin: 5px;
    font-size: 150%;
}

.show_filter:hover + .filter{
    visibility: visible;
}

.filter {
    visibility: hidden;
}

.filter:hover{
    visibility: visible;
}